<!DOCTYPE html>
<html>
<head>
  <title>Sribuapi</title>
  <%= stylesheet_link_tag    "sribuapi/application", :media => "all" %>
  <%= javascript_include_tag "sribuapi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
